.placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
h5 {
  font-size: 18px;
  color: #333;
  text-align: center;
}
img {
  width: 100%;
}
